
*{
    margin: 0;
    padding: 0;
}
#topDiv{
    /* border: 2px solid orange; */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #edf2f5;
}
.topImg{
    height: 28px;
    background-color: #505e6b;
}
.topDivClass{
    display: flex;
    /* border: 2px solid teal; */
   margin-right: 70px;
   padding-top: 2px;
    
}
.topDivClass >h3{
    margin-top: 6px;
    margin-left: 8px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #505e6b;
}
#middleDiv{
    /* border: 2px solid red; */
    height: 60px;
    width: 100%;
    display: flex;
}
.HalfDiv{
    /* border: 1px solid brown; */
    height: 100%;
    width: 50%;
    display: flex;
}
#HalfDiv1{
    /* border: 2px solid blue; */
    display: flex;
}

/* FIRST dIV END ******************************************************************************************************************/



#shinelogo {
    /* border: 2px solid black; */
    margin-left: 100px;
}
#shinelogo img{
    height: 80%;
}
#inputDiv{
    margin-left: 40px;
    /* border: 2px solid red; */
    margin-top: 8px;
    height: 40px;
  
}
#inputDiv input{
    border-color:#f7f8fa ;
    padding:10px 150px 10px 120px ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(223, 217, 217, 0.1) 0px 4px 12px;
}
#inputDiv button{
    border-color:#f7f8fa ;
    padding: 10px 15px 10px ;
    background-color: #865aeb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#otherHalf1{
    /* border: 1px solid yellow; */
    height: 100%;
    width: 350px;
}
#otherHalf2{
    /* border: 1px solid orchid; */
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 18px;
}
#otherHalf2 img{
    height: 22px;
}
/* second Div DropDown and Hover ######################################### */

#dropdown1{
    position: relative;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
}
#notiIcon{
    height: 90px;
    width: 70px;
    margin:auto
}
#dropdown-content1{
display: none;
background-color: white;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 18px;
    /* border: 1px solid red; */
    border-radius: 5px;
    height: 300px;
    padding-left: 30px;
    padding: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
#dc1{
text-align: center;
line-height: 40px;
font-family: sans-serif;
margin-top: 50px;
font-size: 13px;
}
#dropdown1:hover #dropdown-content1{
    display: block;
    position: fixed;
    left: auto;
    right: 34vh;
}


#dropdown2{
    position: relative;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
}
#dropdown-content2{
display: none;
    font-family: sans-serif;
    cursor: pointer;
    color:white;
    background-color: black;
}
#dropdown-content2 P{
    height: 15px;
    width: 10px;
    border: 1px solid green;
}
#dropdown2:hover #dropdown-content2{
    display: block;
    position: absolute;
    left: auto;
    right: 2px;
}


#dropdown3{
    position: relative;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
    
}
#dropdown-content3{
border-radius: 5px;
background-color: white;
display: none;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 16px;
    /* border: 1px solid pink; */
    height: 150px;

    width: 170px;
    padding: 40px;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
#btn1{
    margin-top: 15px;
    padding:  10px 55px;
    font-size: 18px;
    background-color: #865aeb;
    border-radius: 5px;
    cursor: pointer;
    border-color: white;
}
#btn2{
    margin-top: 26px;
    padding: 10px 35px;
    color: #865aeb;
    font-size: 16px;
    background-color: white;
    /* border-color: white; */
    cursor: pointer;
    border-bottom: #edf2f5;
    border-right: #edf2f5;
    border-left: #edf2f5;
}

#dropdown3:hover #dropdown-content3{
    display: block;
    position: fixed;
    left: auto;
    right: 18vh;
}

/* SECOND dIV eND ****************************************************************************************************************************/


#bottomDiv{
    /* border: 2px solid green; */
    height: 48px;
    width: 100%;
    display: flex;
    /* box-shadow: rgb(250, 250, 250) 3px 3px 6px 0px inset, rgba(244, 242, 242, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(216, 152, 152, 0.15) 0px 5px 15px 0px;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px, rgba(150, 135, 135, 0.3) 0px 1px 3px -1px; */
}
#B1Half{
    /* border: 1px solid red; */
    /* height: 100%; */
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
    margin-left: 60px;
    font-family: sans-serif;
    position: fixed;
}
.dropdown{
    position: relative;
    font-family: sans-serif;
    display: inline-block;
    cursor: pointer;
}
.dropdown span{
    font-size: 13px;
    font-weight: 700;
    color: #232434;

}
.dropdown-content{
    display: none;
    font-family: sans-serif;
    cursor: pointer;
    /* border: 1px solid pink; */
    /* margin-top: 18px; */
    width: 180px;
    /* margin-top: 20px; */
    padding: 0px 100px 10px 20px;
    box-shadow: rgba(221, 221, 230, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.dropdown-content p{
    line-height: 20px;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 20px;
}
.dropdown-content p:hover{
    color: #865aeb;
}
.dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    border-bottom: 1px solid #865aeb;
}


/* BOTTOM dIV END ******************************************************************************************************************************/